{% extends "base.html" %}

{% block head %}

<title>Login</title>
<link rel="stylesheet" href="/static/login.css" />
{% endblock %}

{% block content %}
<div class="center">
  <h2>Login</h2>
  <form method="post">
    <span>Name:</span>

    <div class="inputbox">
      <input type="name" id="name" name="name" placeholder="Name" required />
    </div>
    <span>Email:</span>
    <div class="inputbox">
      <input type="email" id="email" name="email" placeholder="Email" required />
    </div>
    <span>Password:</span>

    <div class="inputbox">
      <input type="password" id="password" name="password" placeholder="Password" required />
    </div>
    <div class="inputbox">
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </button>
    </div>
  </form>

</div>
{% endblock %}